<!DOCTYPE html>
<html lang="en">
<head>
	<title>index</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>

    <nav>
        <h4>Dashboard!</h4>
        <ul>
            <li><a href="/">Home</a></li>
                    <form action="/auth/logout" method="POST">
        <input type="submit" value="logout" class="btn btn-danger">
        </form>
        </ul>

    </nav>
	
    <h1 style="color: aliceblue;">Hello world!<br>Index</h1>
    

	
</body>
</html>